html {
    font-size: 62.5%
}
body {
    background-color: #85d7fdf6
    text-aline: center;
}

header {
    color: #4b4b4b
    font-family: "cursive";
    font-weight: bold;
    text-aline: left;
}

footer {
    background-color: #ffffff

}

/* ラジオボタンの○を消す */
.sample-form input[type="radio"] {
/*    display: none;*/
}
/* 画像の周りに隙間をあける */
.sample-form label img {
    margin: 3px;
    padding: 5px;
}
/* 未選択の場合、色を薄くする */
.sample-form input[type="radio"] + label img {
    opacity:0.5;
  }
/* 選択済みの場合、色を濃くする */
.sample-form input[type="radio"]:checked + label img {
    opacity:1;
}

/* 未選択の場合、色を薄くする */
.sample-form input[type="radio"] + label img {
    opacity:0.5;
  }
/* 選択済みの場合、色を濃くする */
.sample-form input[type="radio"]:checked + label img {
    opacity:1;
}

.flexbox {
    display: flex
    justify-content: space_around;
}

.flex-item {
    background: #ffffff
    width:50%
}