{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>ArcLive&#127928;</title>
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'base/base.css' %}">
        
    </head>
    <!-- 以下が画面に表示される-->
    <body>
        <header>ArcLive&#127928;</header>
        <main>
            {% block main %}
            {% endblock %}
        </main>
        <footer>
            <div>
                <input id="image_home"; type="radio"; style="display:none"; value="image_home.png"; name="image">
                <label for="image_home">
                    <a href="{% url 'records:home'%}">
                        <img src="/media/footer/home.png">
                    </a>
                </label>
        
                <input id="image_plus" type="radio" style="display:none"; value="image_plus.png" name="image">
                <label for="image_plus">
                    <a href="{% url 'records:record_create' %}">
                        <img src="/media/footer/onnpu.png">
                    </a>
                </label>
                
                <input id="image_document" type="radio" style="display:none"; value="image_document.png" name="image">
                <label for="image_document">
                    <a href="{% url 'records:record_list'%}">
                        <img src="/media/footer/document.png">
                    </a>
                </label>
                
                <input id="image_account" type="radio" style="display:none"; value="image_account.png" name="image">
                <label for="image_account">
                    <a href="{% url 'accounts:mypage'%}">
                        <img src="/media/footer/account.png">
                    </a>
                </label>
            </div>
           
        </footer>
            {% bootstrap_javascript %}
    </body>
</html>