{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>ArcLive&#127928;</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/base.css">

    </head>
    <!-- 以下が画面に表示される-->
    <body>
        <header class="logo">
        </header>
        <main class="main-container">
            {% block main %}
            {% endblock %}
        </main>
        <footer>
            <div class="flex-box">
                <div class="flex-item">
                    <a href="{% url 'records:home'%}">
                        <img src="/media/footer/home2.jpg">
                    </a>
                </div>
                <div class="flex-item">
                    <a href="{% url 'records:record_create'%}">
                        <img src="/media/footer/onnpu2.jpg">
                    </a>
                </div>
                <div class="flex-item">
                    <a href="{% url 'records:record_list'%}">
                        <img src="/media/footer/list2.jpg">
                    </a>
                </div>
                <div class="flex-item">
                    <a href="{% url 'accounts:mypage'%}">
                        <img src="/media/footer/account2.jpg">
                    </a>
                </div>
            </div>
            
        </footer>
            {% bootstrap_javascript %}
    </body>
</html>