/*  CSSは　どの要素｛　何を：　どうする；　｝で書く*/

/* background-color: #9bbcf3 */
@charset "UTF-8";
/* リセットCSS */
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

h3 {
  font-family:cursive;
  width: 50%;
  font-size: 5vh;
}
h4 {
  font-size: 4vh;
}
h5 {
  font-size: 3vh;
}


img {
  width:25vw;
  padding-top: 25%;
}

body{
  background-color:#9bbcf3;
}

footer{
  background-color: #9bbcf3;
}

.flex-box {
  display: flex;
  width: 360px;
  text-align: center;
  margin: 10px ;
  justify-content: space-around;
}

/*flex: ［flex-growの値］ ［flex-shrinkの値］ ［flex-basisの値］;*/
.flex-item2 {
  width: 100px;
  aspect-ratio: 1/1;
  padding: 10px 10px;
  margin: 20px 0;
  color: #000000;
  background: #e4fcff;/*背景色*/
  border-top: solid 6px #1dc1d6;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
}

.home-label {
  margin: 0;
  padding: 0;
  color: #000000;
}