/*  CSSは　どの要素｛　何を：　どうする；　｝で書く*/

* {
  margin: 0;
  padding: 0;
}


.logo {
  background-attachment: fixed;
  background-image: url("/media/base/header.jpg");
  background-repeat: no-repeat;
  top: 0;
  width: 100vw;  
  min-height: 50vh;
  padding: 0;
  margin-bottom: 0;
  display: block;
}

body {
  background-attachment: fixed;
  background-image: url("/media/base/bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: center;
  top: 0;
  width: 100%;
  max-width: 1920px;
  margin-top:  0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

footer {
  background-color:#9fbdf2 ;
  position: fixed;
}

.flex-box {
  display: flex;
  justify-content: space-around;
}

body main.main-container div.generate_text textarea#textToCopy {
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
    display: block !important;
    white-space: pre !important; 
    overflow-x: auto !important;
    height: 300px !important;
    background-color: white !important;
    color: black !important;
    padding: 10px !important;
}

/* 親要素も道連れで広げる */
body main.main-container div.generate_text {
    width: 100% !important;
    display: block !important;
    flex: 0 0 100% !important;
}




@media (min-width: )