{% extends "base/base.html" %}
{% block main %}
    <h4>マイページ<h4>
        {% if messages %}
            {% for messages in messages %}
                <div style="color; #4b4b4b; padding: 10px; margin_bottom: 20px; ">
                    {{ messages }}
            {% endfor %}
        {% endif %}

        <div style="margin: 20px 0; ">
            <label>メールアドレス</label>
            <br>
            <input type="text" value="{{ user.email }}" readonly>
            <button type="submit"><a href="{% url 'accounts:change_email'%}">変更</a></button>
        </div>

        <div style="margin: 20px 0; ">
            <label>パスワード</label>
            <br>
            <input type="password" value="********" readonly>
            <button type="submit"><a href="{% url 'accounts:change_password'%}">変更</a></button>
        </div>

    <form action="{% url 'accounts:logout' %}" method="post">
        {% csrf_token %}
        <button type="submit",
        style="color:#ffffff; border: none; padding: 10px 20px; border-radius:5px">
            ログアウト</button>
    </form>

{% endblock %}