{% extends "base/arclive_base.html" %}
{% block body %}
<div style="max-width:400px; margin:20px auto; padding: 20px;">
    
    {% if form %}
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_new_password1" class="form-label">新しいパスワード</label>
                {{ form.new_password1 }}
                {% if form.new_password1.errors %}
                <div class="text-danger small">
                    {{ form.new_password1.errors }}
                </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="id_new_password2" class="form-label">確認用パスワード</label>
                {{ form.new_password2 }}
                {% if form.new_password2.errors %}
                <div class="text-danger small">
                    {{ form.new_password2.errors }}
                </div>
                {% endif %}
            </div>
    <div class="d-flex gap-2">
        <button type="submit"> 送信</button>
        <a href="{% url 'login' %}"></i> ログイン画面に戻る</a>
    </div>
    </form>
    {% else %}
        <div class="alert alert-danger">
            <i class='bi bi-check-circle-fill'></i> このリンクは無効です。再度パスワード再発行を行ってください。
        </div>
        <a href="{% url 'password_reset' %}"></i> 再発行ページへ</a>
    {% endif %}

</div>

{% endblock %}
