{% extends "base/arclive_base.html" %}
{% block body %}
<form action="" method="POST">
    {{ form.non_field_errors }}
    <h4>パスワードを再設定する<h4>
    <h6>パスワード再設定ページのURLを登録メールアドレスに送信します。<h6>
    <h6>登録メールアドレスを入力し、送信を押してください。<h6>  
    {% for field in form %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
        {{ field }}
        {{ field.errors }}
    </div>
    {% endfor %}
    {% csrf_token %}
    <br/>
    <div class="form-group row">
      <div class="col-6">
        <button type="submit" class="btn btn-primary btn-block">送信</button>
      </div>
      <div>
        <a href="{% url 'login' %}">ログイン画面に戻る</a>
      </div>
    </div>
</form>
{% endblock %}
